<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" version="19.0" />
  <package id="7zip.install" version="19.0" />
  <package id="ActivePerl" version="5.24.3.2404" />
  <package id="adoptopenjdkjre" version="13.101.9" />
  <package id="autohotkey" version="1.1.31.01" />
  <package id="autohotkey.install" version="1.1.31.01" />
  <package id="autohotkey.portable" version="1.1.31.01" />
  <package id="bandizip" version="6.25" />
  <package id="burp-suite-free-edition" version="2.1.04" />
  <package id="ccleaner" version="5.63.7540" />
  <package id="choco-cleaner" version="0.0.5.2" />
  <package id="chocolatey" version="0.10.15" />
  <package id="chocolatey-core.extension" version="1.3.4" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-misc-helpers.extension" version="0.0.3.1" />
  <package id="chocolatey-visualstudio.extension" version="1.8.1" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.4" />
  <package id="chocolateygui" version="0.16.0" />
  <package id="cmake" version="3.15.5" />
  <package id="cmake.install" version="3.15.5" />
  <package id="codeblocks" version="17.12" />
  <package id="composer" version="4.10.0" />
  <package id="cpu-z" version="1.90.0.20191011" />
  <package id="cpu-z.install" version="1.90.0.20191011" />
  <package id="curl" version="7.67.0" />
  <package id="dart-sdk" version="2.4.1" />
  <package id="dd" version="0.5" />
  <package id="directx" version="9.29.1974.20180606" />
  <package id="docker-toolbox" version="19.03.1" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="DotNet4.6.1" version="4.6.01055.20170308" />
  <package id="dotnetfx" version="4.8.0.20190930" />
  <package id="doxygen.install" version="1.8.15" />
  <package id="ffmpeg" version="4.2.1" />
  <package id="filezilla" version="3.45.1" />
  <package id="FiraCode-ttf" version="2.0" />
  <package id="foxitreader" version="9.7.0.29455" />
  <package id="geogebra" version="5.0.134.0" />
  <package id="git" version="2.24.0" />
  <package id="git-credential-manager-for-windows" version="1.20.0" />
  <package id="git-lfs" version="2.9.0" />
  <package id="git-lfs.install" version="2.9.0" />
  <package id="git.install" version="2.24.0" />
  <package id="golang" version="1.13.4" />
  <package id="GoogleChrome" version="78.0.3904.97" />
  <package id="gpg4win" version="3.1.10.20191019" />
  <package id="gpg4win-vanilla" version="2.3.4.20191021" />
  <package id="gpu-z" version="2.26.0" />
  <package id="gradle" version="5.6.4" />
  <package id="hg" version="5.2" />
  <package id="hyper" version="3.0.2" />
  <package id="io-unlocker" version="1.1.2.1" />
  <package id="javaruntime" version="8.0.231" />
  <package id="jdk11" version="11.0.2.9" />
  <package id="jetbrainstoolbox" version="1.16.6016" />
  <package id="jre8" version="8.0.231" />
  <package id="julia" version="1.2.0" />
  <package id="k-litecodecpackfull" version="15.2.0" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="kubernetes-cli" version="1.16.2" />
  <package id="lyx" version="2.3.3.1" />
  <package id="madvr" version="0.92.17" />
  <package id="make" version="4.2.1" />
  <package id="maven" version="3.6.2" />
  <package id="mediainfo" version="19.09" />
  <package id="mp3tag" version="2.99.1" />
  <package id="mpc-hc" version="1.7.13.20180702" />
  <package id="nano" version="2.5.3" />
  <package id="nasm" version="2.14.02" />
  <package id="netease-cloudmusic" version="2.1.0" />
  <package id="nmap" version="7.80" />
  <package id="nodejs" version="13.0.1" />
  <package id="nodejs.install" version="13.0.1" />
  <package id="nuget.commandline" version="5.3.1" />
  <package id="NugetPackageExplorer" version="5.4.1" />
  <package id="obs-studio" version="24.0.3" />
  <package id="obs-studio.install" version="24.0.3" />
  <package id="OpenCV" version="4.1.2" />
  <package id="OpenSSL.Light" version="1.1.1.20181020" />
  <package id="openvpn" version="2.4.7" />
  <package id="packer" version="1.4.5" />
  <package id="pandoc" version="2.7.3" />
  <package id="pgadmin3" version="1.22.2.20170504" />
  <package id="php" version="7.3.11" />
  <package id="potplayer" version="1.7.18958" />
  <package id="powershell-core" version="6.2.3" />
  <package id="procexp" version="16.30.0.20190928" />
  <package id="pstools" version="1.2012.04.12" />
  <package id="putty" version="0.73" />
  <package id="putty.portable" version="0.73" />
  <package id="python2" version="2.7.17" />
  <package id="r" version="3.6.1" />
  <package id="R.Project" version="3.6.1" />
  <package id="R.Studio" version="1.2.5001" />
  <package id="rainmeter" version="4.3.0.3321" />
  <package id="realsense-sdk2" version="2.29.0" />
  <package id="redis-64" version="3.0.503" />
  <package id="ruby" version="2.6.5.1" />
  <package id="rufus" version="3.8" />
  <package id="rust" version="1.39.0" />
  <package id="sass" version="1.23.3" />
  <package id="Silverlight" version="5.1.50907.0" />
  <package id="SourceCodePro" version="2.030.0" />
  <package id="SQLite" version="3.30.1" />
  <package id="sqlitebrowser" version="3.11.2" />
  <package id="sqlitebrowser.install" version="3.11.2" />
  <package id="steam" version="3.0.1.20190215" />
  <package id="svn" version="1.8.17" />
  <package id="sysinternals" version="2019.9.23" />
  <package id="teamviewer" version="14.7.1965" />
  <package id="telegram" version="1.8.15" />
  <package id="telegram.install" version="1.8.15" />
  <package id="texstudio" version="2.12.16" />
  <package id="typora" version="0.9.79" />
  <package id="vagrant" version="2.2.6" />
  <package id="vcredist-all" version="1.0.0" />
  <package id="vcredist140" version="14.23.27820" />
  <package id="vcredist2005" version="8.1.0.20160118" />
  <package id="vcredist2008" version="9.0.30729.6163" />
  <package id="vcredist2010" version="10.0.40219.2" />
  <package id="vcredist2012" version="11.0.61031" />
  <package id="vcredist2013" version="12.0.40660.20180427" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="vcredist2017" version="14.16.27033" />
  <package id="veracrypt" version="1.24.20191107" />
  <package id="vim" version="8.1.2291" />
  <package id="virtualbox" version="6.0.14" />
  <package id="visualstudio-installer" version="2.0.1" />
  <package id="visualstudio2017-workload-vctools" version="1.3.2" />
  <package id="visualstudio2017buildtools" version="15.9.17.0" />
  <package id="vscode" version="1.40.0" />
  <package id="vscode.install" version="1.40.0" />
  <package id="Wget" version="1.20.3.20190531" />
  <package id="win32diskimager" version="1.0.0.20181220" />
  <package id="win32diskimager.install" version="1.0.0.20181220" />
  <package id="WinPcap" version="4.1.3.20161116" />
  <package id="wireshark" version="3.0.6" />
  <package id="xca" version="2.1.2" />
  <package id="yarn" version="1.19.1" />
  <package id="yasm" version="1.2.0" />
  <package id="yed" version="3.19.1.1" />
  <package id="youtube-dl" version="2019.11.05" />
</packages>